
<div class="container">
<a href="/#/dashboard">Dashboard</a> | <a href="/#/login">Logout</a>
<br>
<br>
<h4>Welcome, {{currentUser.name}}</h4>
<br>
<br>
<h3>Ask a Question!</h3>
<p class="text-muted">Must be answereable via a yes or a no.</p>
<br>
<form class="form-horizontal" ng-submit="create(newQuestion, currentUser)">
<fieldset>
    <div class="form-group">
    <label class="col-lg-2 control-label">
        <input class="form-control" type="text" ng-model="newQuestion.question" placeholder="What's on your mind?">
    </label>
    </div>
    <input type="submit" value="Ask" class="btn btn-primary" >
</fieldset>
</form>
<br>
<br>
<br>
<h4>Following</h4>
Question: <input type="text" ng-model = "following.question">
Username: <input type="text" ng-model = "following.name">
<br>
<br>
<table class = "table">
<thead>
    <tr>
        <th>Question</th>
        <th>Username</th>
        <th>Yes</th>
        <th>No</th>
    </tr>
</thead>
<tbodyfollowing    <tr ng-repeat = "follow in follows | filter:following:strict">
        <td><a href="/#/questions/{{question._id}}">{{question.question}}</a></td>
        <td><a href="/#/user/{{question._user}}">{{question.name}}</a></td>
        <td><button class="btn btn-yes">Yes</button></td>
        <td><button class="btn btn-no">No</button></td>
    </tr>
</tbody>
</table>
<br>
<br>
<br>
<h4>Recent</h4>
Question: <input type="text" ng-model = "recent.question">
Username: <input type="text" ng-model = "recent.name">
<br>
<br>
<table class = "table">
<thead>
    <tr>
        <th>Question</th>
        <th>Username</th>
        <th>Yes</th>
        <th>No</th>
    </tr>
</thead>
<tbody>
    <tr ng-repeat = "question in questions | orderBy: '-createdAt' | limitTo: 10 |filter:recent:strict">
        <td><a href="/#/questions/{{question._id}}">{{question.question}}</a></td>
        <td><a href="/#/user/{{question._user}}">{{question.name}}</a></td>
        <td><button ng-click="yes(question)" class="btn btn-yes">Yes</button><p>{{question.yes}}</p></td>
        <td><button ng-click="no(question)" class="btn btn-no">No</button><p>{{question.no}}</p></td>
    </tr>
</tbody>
</table>
<br>
<br>
<hr>
<br>
<br>

<div>
    
</div>


   

</div>
