<a href="/#/home">Home</a> | <a href="/#/login">Logout</a>

<div class="container">
<h3>New Question</h3>


<br>
<form novalidate name="form" class="form-horizontal" ng-submit="create(newQuestion)">
<fieldset>
    <div class="form-group">
    <label class="col-lg-2 control-label">
        <input class="form-control" type="text" name="question" required ng-minlength="10" ng-model="newQuestion.question" placeholder="What's on your mind?">
    </label>
    </div>
    <p class="text-muted">Must be at least 10 characters.</p>
    <div class="form-group">
    <label class="col-lg-2 control-label">
        <input class="form-control" type="text" ng-model="newQuestion.description" placeholder="say more? (optional)">
    </label>
    </div>
    <input type="submit" value="Ask" class="btn btn-primary" ng-disabled="form.$invalid">
    <a href="/#/home"  class="btn btn-default">Cancel</a>
</fieldset>

</form>
<br>
<br>
<br>  
</div>





