<!-- <a href="/#/dashboard">Dashboard</a> | <a href="/#/login">Logout</a>

<p>Your name is {{currentUser.name}}</p>



<h3><strong><a href="/#/user/{{question._user}}">{{question.name}}</a></strong> posted a question: </h3>
<strong><p>{{question.question}}</p></strong>
<strong>Description:</strong><p>{{question.description}}</p>

<h4>Post your answer here...</h4>

<form ng-submit="createPost(newPost, question, currentUser)">
    <textarea rows="3" ng-model="newPost.content"></textarea>
    <input type="submit" class="btn btn-primary">
</form>

<hr>

<div class="comment">
  <strong>{{question.answer.user}}</strong>
{{question.answer.upvote}}<button class="btn btn-success">upVote</button>{{question.answer.downvote}}<button class="btn btn-danger">downVote</button>  
</div> 


<strong class="comment">{{question.answer.comment.user}}</strong>{{question.answer.comment.content}}

<strong class="comment">{{question.answer.comment.user}}</strong>{{question.answer.comment.content}}

<form class="comment">
    <textarea rows="3"></textarea>
    <input type="submit" value="comment" class="btn btn-primary">
</form>
 -->